body {
  background-color: #fff;
  color: #222;
}

header nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 16px;
  width: 100%;
  background-color: #eee;
  color: #222;
  font-size: 14pt;
  cursor: default;
}
header nav div {
  display: inline-block;
}
header nav .brand a {
  display: inline-block;
  padding: 16px;
}
header nav .brand a img {
  width: 90px;
  height: 20px;
}
header nav .menu {
  margin-right: 32px;
  float: right;
}
header nav .menu a {
  display: inline-block;
  padding: 16px 8px;
  color: #222;
  text-decoration: none;
}
header nav .menu a:hover,
header nav .menu a.active {
  background: #ddd;
}
header section.header {
  margin: 50px 0;
  padding: 16px 4px;
  background-color: #ddd;
}
header section.header .lead {
  margin: 50px 0 10px;
  text-align: center;
  font-size: 24pt;
}

main {
  min-height: 50vh;
}
main a {
  color: #222;
  text-decoration: none;
  border-bottom: 1px dashed #f26a3d;
}
main a:hover {
  color: #f26a3d;
}

.content,
.wide.content {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 2px 4px;
  width: 768px;
  text-align: justify;
  line-height: 1.5em;
}
.wide.content {
  width: 1200px;
}
.centered {
  text-align: center;
}
.hidden.divider {
  padding: 16px;
}
.hidden.huge.divider {
  padding: 32px;
}
a.button {
  display: inline-block;
  padding: 12px 24px;
  color: #222;
  border: 1px solid #222;
  text-decoration: none;
}
a.small.button {
  padding: 6px 12px;
}
a.button:hover {
  background-color: #222;
  color: #fff;
}
.clear {
  clear: both;
}
.columns {
  margin: 0 auto;
}
.three.columns .column,
.four.columns .column {
  margin: 0 16px;
  float: left;
}
.three.columns .column {
  width: 30%;
}
.four.columns .column {
  width: 22%;
}
.column img {
  display: block;
  margin: 8px auto;
  margin-bottom: 16px;
  width: 100%;
}
.column img.celluloid-io {
  width: 350px;
}
.column img.dcell {
  width: 200px;
}
.column img.reel {
  width: 150px;
}
.column a img.celluloid-io,
.column a img.dcell,
.column a img.reel {
  text-align: center;
  font-size: 20pt;
  font-weight: 750;
}

.links {
  text-align: center;
}
.links a {
  display: inline-block;
  margin: 0 16px;
}

footer {
  margin: 48px 0 8px;
  padding: 4px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .wide.content {
    width: 95%;
  }
  .column img.celluloid-io {
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .content,
  .wide.content {
    width: 95%;
    padding: 2px 8px;
  }

  .three.columns .column,
  .four.columns .column {
    margin: 0 0 16px;
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  header nav {
    font-size: 12pt;
  }
  header nav .brand a {
    padding: 12px;
  }
  header nav .brand a img {
    width: 90px;
    height: 20px;
  }
  header nav .menu {
    margin-right: 28px;
    float: right;
  }
  header nav .menu a {
    padding: 14px 4px;
  }
  header section.header {
    margin: 20px 0;
  }
  .three.columns .column,
  .four.columns .column {
    margin: 0 0 32px;
  }
}
